html
    head
        title Authorize google
        link(href="/css/style.css" rel="stylesheet" type="text/css")
    body
        div(class="container")
            h1 Moja dynamiczna strona
            a(href= "http://www.google.com") URL