body {
    background-color: #ecf0f1;
}

.container {
    width: 40%;
    height: 40vh;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    border: 3px solid lightgray;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 1px 1px 2px #e74c3c, 0 0 25px #e74c3c, 0 0 5px #e74c3c;
}

.description {
    padding: 20px;
}

.button {
    padding: 10px;
}

button {
    padding: 20px 40px;
    min-width: 180px;
    font-size: 25px;
    font-weight: 700;
    font-family: "Pacifico", cursive;
    cursor: pointer;
    background-size: 600px;
    background-position: 100% 0;
    background-color: rgb(192, 57, 43);
    transition: 0.4s;
    border: 0 solid white;
    background-image: linear-gradient(to right, white 50%, transparent 50%);
    color: white;
    text-shadow: 0 0 3px white;
    outline: 3px solid;
    outline-color: white;
    outline-offset: 0px;
}


button:hover {
    background-position: 0 100%;
    color: rgb(192, 57, 43);
    outline-color: rgba(192, 57, 43, 0);
    outline-offset: 15px;
    box-shadow: inset 0 0 0 rgba(192, 57, 43, 0.5), 0 0 1.5em rgba(192, 57, 43, 0.5);
    border: 0 solid rgb(192, 57, 43);
    text-shadow: 0 0 3px rgb(192, 57, 43);
}

h1 {
    color: white;
    font-family: 'Alef';
    text-shadow: 0 0 7px rgb(231, 76, 60), 0 0 7px rgb(231, 76, 60);
    font-size: 40px;
    letter-spacing: 1px;
}

i {
    padding-left: 5px;
}




